{% extends 'base.html' %}
{% block title %}CADASTRAR DADOS{% endblock %}
{% block content %}
    <br>
    {% if mensagem %}
        {% if not valid %}
            <div class="alert alert-danger" role="alert">{{ mensagem|safe }}</div>
        {% else %}
            <h1 class="display-4">{{ mensagem|safe }}</h1>
        {% endif %}
     {% endif %}
    <br>
    <form action="/save", method="POST">
        <div class="form-group">
            <label for="email">EMAIL</label>
            <input class="form-control" type="email" id="email" name="email" autocomplete="off" value="{{data['email']}}"/>
        </div>
        <div class="form-group">
            <label for="telefone">TELEFONE</label>
            <input class="form-control" type="text" id="telefone" name="telefone" autocomplete="off" value="{{data['telefone']}}" />
        </div>
        <div class="form-group">
            <label for="cep">CEP</label>
            <input class="form-control" type="text" id="cep" name="cep" autocomplete="off" value="{{data['cep']}}" />
        </div>
        <div class="form-group">
            <label for="nome">NOME</label>
            <input class="form-control" type="text" id="nome" name="nome" autocomplete="off" value="{{data['nome']}}" />
        </div>
        <div class="form-group">
            <label for="cpf">CPF</label>
            <input class="form-control" type="text" id="cpf" name="cpf" autocomplete="off" value="{{data['cpf']}}" />
        </div>
        <button type="submit" class="btn btn-primary">CADASTRAR</button>
    </form>
{% endblock %}